.dot1,
.dot2,
.dot3 {
    height: 250px;
}

#layer1{
z-index: 10;
}

.dot3 {
    background: linear-gradient(45deg,
            hsla(67, 100%, 50%, 0.934),
            hsla(126, 100%, 50%, 0.736) 100%);
}

/* test */